

    

button.numbutton {
    display: flex;
    background-color: royalblue;
    border-radius: 1rem;
    border: solid .5px black;
    box-shadow: 0 1px;
    color: white;
    
}

button.specbutton {
    display: flex;
    background-color: cornflowerblue;
    border-radius: 1rem;
    border: solid .5px black;
    box-shadow: 0 1px;
    color: white;
    
}

button.opbutton {
    display: flex;
    background-color: deepskyblue;
    border-radius: 1rem;
    border: solid .5px black;
    box-shadow: 0 1px;
    color: white;
}
